{{ if .Site.Data.content.Certificacoes }}
<div id="certificacoes" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            {{ i18n "certificacoes" }}
        </h2>
    </div>
    <div class="section__content">
        {{ range .Site.Data.content.Certificacoes }}
            <div class="certificacoes__item">
                <h3 class="certificacoes__title">{{ .Course | safeHTML }}</h3>
                <h4 class="certificacoes__place">{{ .Place | safeHTML }}</h4>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}